<div class="h-screen w-screen bg-blue-500 flex flex-col justify-center items-center">
    <a href="https://www.flaticon.com/free-icons/error" target="_blank" title="Dizzy Robot by Flaticon">
        <img src="/images/dizzy-robot.png" class="w-52 h-52 mb-2" alt="Error Image">
    </a>
    <h1 class="text-slate-100 text-8xl font-bold"><%= error.status %></h1>
    <p class="text-slate-100 text-3xl font-bold"><%= message %></p>
    <p class="text-slate-100 font-mono">Not sure how you've ended here ... </p>
    <a href="/" class="text-slate-100 mt-4 rounded bg-orange-600 px-4 py-2 hover:bg-orange-700 font-bold">Go back to safety</a>
</div>